# Backup files
*.bak

# Eclipse
.classpath
.externalToolBuilders/
.metadata
.project
.settings/
bin/
RemoteSystemsTempFiles

# IntelliJ
*.iml
*.ipr
*.iws
.idea/

# Java
doc/

# Maven
target/

# TestNG 
test-output/

# Vim
[._]*.sw[a-p]
[._]*.s[a-v][a-z]
*~

